.register__link {
  display: block;
  margin: 15px auto 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
}
.register__link:hover{
  color: blue;
}
