.register__input{
  width: 100%;
  margin-top: 17px;
  background-color: black;
  color: #CCC;
  border: none;
  border-bottom: 2px solid #CCC;
  padding: 13px 0 13px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
