.popup__field-error {
  opacity: 0;
  display: inline-block;
  margin-left: 36px;
  min-height: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;

  color: #FF0000;
}

@media screen and (max-width: 540px) {
  .popup__field-error{
    margin-left: 22px;
  }
}
